@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap");

@mixin allCards {
  height: 60vh;
  width: 40vh;
  background-color: #333333;
  margin: 20px 20px;
}

$headerColor: #7895b2;
$mainColor: #f5efe6;
$footerColor: #4c6793;

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 1536px;
  margin: 0 auto;

  header {
    background: linear-gradient($headerColor, $mainColor);
    background-color: $headerColor;
    position: sticky;
    top: 0;
    min-height: 10vh;
    display: flex;
    flex-direction: row;

    .leftImage {
      height: 80px;
      margin: auto 50px;
    }
    .rightImage {
      height: 50px;
      margin: 40px;
      cursor: pointer;
    }
    .allLinks {
      margin: auto;
      margin-right: 50px;
      a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        padding: 40px;
      }
    }
  }
  main {
    background-color: $mainColor;
    min-height: 80vh;

    .mainContext {
      .allCards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px;

        .firstCard,
        .secondCard,
        .thirdCard,
        .fourthCard {
          display: flex;
          flex-direction: column;
          width: 20vw;
          min-width: 220px;
          height: 66vh;
          margin: 10px auto;
          background-color: #a3bdd8;
          border-radius: 10px;

          &:hover {
            background-color: #7895b2;
            opacity: 0.98;
            box-shadow: 5px 0 10px 10px hsl(0deg, 0%, 40%);
            transition: 0.8s;
            color: rgb(15, 15, 15);
            h2 {
              color: #ffffff;
              transition: 0.5s;
            }
          }

          img {
            height: 40vh;
            width: 20vw;
            min-width: 220px;
            border-radius: 10px 10px 0px 0px;
            margin: 0;
          }
          .cardInfo {
            padding: 10px;

            h2 {
              text-align: center;
            }

            p {
              padding: 10px;
              margin-bottom: 20px;
            }
            ul {
              list-style-type: none;
              display: inline;
              padding: 10px;

              li {
                display: inline;
                padding: 16px;
              }

              a {
                color: rgb(44, 6, 6);
              }
            }
          }
        }
      }
    }
  }
  footer {
    background-color: $footerColor;
    min-height: 10vh;
  }

  // @media screen and (max-width: 800px) {
  //   .allCards {
  //     width: 10vw;
  //     display: block;
  //   }
  // }
}
