@mixin allCards {
  height: 60vh;
  width: 40vh;
  background-color: #b2b2b2;
  margin: 20px 20px;
}

$headerColor: #7895b2;
$mainColor: #f5efe6;
$footerColor: #4c6793;

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 1536px;
  margin: 0 auto;

  header {
    background-color: $headerColor;
    position: sticky;
    top: 0;
    min-height: 10vh;
  }
  main {
    background-color: $mainColor;
    min-height: 80vh;

    .mainContext {
      .allCards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px;

        .firstCard,
        .secondCard,
        .thirdCard,
        .fourthCard {
          display: flex;
          flex-direction: column;
          width: 20vw;
          min-width: 220px;
          height: 66vh;
          margin: 20px auto;
          background-color: $headerColor;
          border-radius: 10px;

          &:hover {
            opacity: 0.5;
          }

          img {
            height: 40vh;
            width: 20vw;
            min-width: 220px;
            border-radius: 10px 10px 0px 0px;
            margin: 0;
          }
          .cardInfo {
            padding: 10px;

            p {
              padding: 10px;
              margin-bottom: 20px;
            }
            ul {
              list-style-type: none;
              display: inline;
              padding: 10px;

              li {
                display: inline;
                padding: 20px;
              }

              a {
                color: rgb(44, 6, 6);
              }
            }
          }
        }
      }
    }
  }
  footer {
    background-color: $footerColor;
    min-height: 10vh;
  }

  // @media screen and (max-width: 800px) {
  //   .allCards {
  //     width: 10vw;
  //     display: block;
  //   }
  // }
}
