@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1536px;
  margin: 0 auto;
}
body header {
  background: linear-gradient(#7895b2, #f5efe6);
  background-color: #7895b2;
  position: sticky;
  top: 0;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
}
body header .leftImage {
  height: 80px;
  margin: auto 50px;
}
body header .rightImage {
  height: 50px;
  margin: 40px;
  cursor: pointer;
}
body header .allLinks {
  margin: auto;
  margin-right: 50px;
}
body header .allLinks a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 40px;
}
body main {
  background-color: #f5efe6;
  min-height: 80vh;
}
body main .mainContext .allCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
}
body main .mainContext .allCards .firstCard,
body main .mainContext .allCards .secondCard,
body main .mainContext .allCards .thirdCard,
body main .mainContext .allCards .fourthCard {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-width: 220px;
  height: 66vh;
  margin: 10px auto;
  background-color: #a3bdd8;
  border-radius: 10px;
}
body main .mainContext .allCards .firstCard:hover,
body main .mainContext .allCards .secondCard:hover,
body main .mainContext .allCards .thirdCard:hover,
body main .mainContext .allCards .fourthCard:hover {
  background-color: #7895b2;
  opacity: 0.98;
  box-shadow: 5px 0 10px 10px hsl(0deg, 0%, 40%);
  transition: 0.8s;
  color: rgb(15, 15, 15);
}
body main .mainContext .allCards .firstCard:hover h2,
body main .mainContext .allCards .secondCard:hover h2,
body main .mainContext .allCards .thirdCard:hover h2,
body main .mainContext .allCards .fourthCard:hover h2 {
  color: #ffffff;
  transition: 0.5s;
}
body main .mainContext .allCards .firstCard img,
body main .mainContext .allCards .secondCard img,
body main .mainContext .allCards .thirdCard img,
body main .mainContext .allCards .fourthCard img {
  height: 40vh;
  width: 20vw;
  min-width: 220px;
  border-radius: 10px 10px 0px 0px;
  margin: 0;
}
body main .mainContext .allCards .firstCard .cardInfo,
body main .mainContext .allCards .secondCard .cardInfo,
body main .mainContext .allCards .thirdCard .cardInfo,
body main .mainContext .allCards .fourthCard .cardInfo {
  padding: 10px;
}
body main .mainContext .allCards .firstCard .cardInfo h2,
body main .mainContext .allCards .secondCard .cardInfo h2,
body main .mainContext .allCards .thirdCard .cardInfo h2,
body main .mainContext .allCards .fourthCard .cardInfo h2 {
  text-align: center;
}
body main .mainContext .allCards .firstCard .cardInfo p,
body main .mainContext .allCards .secondCard .cardInfo p,
body main .mainContext .allCards .thirdCard .cardInfo p,
body main .mainContext .allCards .fourthCard .cardInfo p {
  padding: 10px;
  margin-bottom: 20px;
}
body main .mainContext .allCards .firstCard .cardInfo ul,
body main .mainContext .allCards .secondCard .cardInfo ul,
body main .mainContext .allCards .thirdCard .cardInfo ul,
body main .mainContext .allCards .fourthCard .cardInfo ul {
  list-style-type: none;
  display: inline;
  padding: 10px;
}
body main .mainContext .allCards .firstCard .cardInfo ul li,
body main .mainContext .allCards .secondCard .cardInfo ul li,
body main .mainContext .allCards .thirdCard .cardInfo ul li,
body main .mainContext .allCards .fourthCard .cardInfo ul li {
  display: inline;
  padding: 16px;
}
body main .mainContext .allCards .firstCard .cardInfo ul a,
body main .mainContext .allCards .secondCard .cardInfo ul a,
body main .mainContext .allCards .thirdCard .cardInfo ul a,
body main .mainContext .allCards .fourthCard .cardInfo ul a {
  color: rgb(44, 6, 6);
}
body footer {
  background-color: #4c6793;
  min-height: 10vh;
}

/*# sourceMappingURL=style.css.map */
